@font-face {
    font-family: "Myriad-Pro";
    src: url('../font/MYRIADPRO-BOLD.OTF') format("truetype");
}

@font-face {
    font-family: "Gladolia";
    src: url('../font/GladoliaDEMO-Regular.otf') format("truetype");
}

@font-face {
    font-family: "Party";
    src: url('../font/Party_Vibes.otf') format("truetype");
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.logo img {
    width: 190px;
    z-index: 99
}

.info {
    width: calc(100% - 42px);
    padding: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info * {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: rgb(var(--blue))
}

.convite {
    font-family: "Myriad-Pro";
    font-weight: bold;
}

.nome {
    font-family: "Gladolia";
    font-size: 37px;
    margin-top: 19px;
}

.idade {
    font-family: "Party";
    font-size: 32px;
    margin-top: -20px;
}

.endereco {
    margin-top: 30px
}

.endereco,
.horario {
    color: rgb(var(--red)) !important;
    font-family: "Party";
    font-size: 15px;
    font-weight: bold;
}

.button-container {
    width: 180px;
    height: 60px;
    /* background: yellow; */
    margin-top: 17px;
    display: flex;
    justify-content: space-around;
}

.botao {
    height: 100%;
    width: 60px;
    background: rgb(var(--red));
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

a.botao.dresscode img {
    width: 34px;
}

a.botao.presenca i {
    font-size: 33px;
    color: rgb(var(--white));
}

span.legenda {
    position: absolute;
    top: 62px;
    text-align: center;
    font-size: 11px;
    color: rgb(var(--red));
    font-family: "Myriad-Pro";
}

@media (min-width: 650px) {
    .logo {
        margin-top: 68px
    }

    .logo img {
        width: 260px;
    }

    .convite {
        font-size: 20px
    }

    .nome {
        font-size: 50px;
        margin-top: 30px;
    }

    .idade {
        font-family: "Party";
        font-size: 43px;
        margin-top: -25px;
    }

    .endereco,
    .horario {
        font-size: 21px
    }

    .button-container {
        width: 250px;
        margin-top: 54px;
        height: 80px;
    }

    .botao {
        width: 80px
    }

    span.legenda {
        top: 83px;
        font-size: 18px;
    }
}

@media (min-width: 700px){
    .logo {
        margin-top: 68px
    }

    .logo img {
        width: 281px;
    }

    .convite {
        font-size: 20px
    }

    .nome {
        font-size: 50px;
        margin-top: 30px;
    }

    .idade {
        font-family: "Party";
        font-size: 43px;
        margin-top: -25px;
    }

    .endereco,
    .horario {
        text-align: center;
        font-size: 23px
    }

    .button-container {
        width: 250px;
        margin-top: 54px;
        height: 80px;
    }

    .botao {
        width: 80px
    }

    span.legenda {
        top: 83px;
        font-size: 18px;
    }
}