:root{
    --blue: 56 66 91;
    --lightBlue: 90 114 147;
    --red: 207 92 73;
    --white: 246 237 228;
}


* {
    margin: 0;
}

html{
    overflow: hidden;
    color-scheme: light only;
    forced-color-adjust: none;
    filter: none !important;
    backdrop-filter: none !important;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/repeat.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.main-container {
    border-radius: 13px;
    margin-top: 65px;
    /* width: 820px;
    height: 1099px; */
    width: 444px;
    height: 595px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 38px 18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px 18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 38px 18px rgba(0, 0, 0, 0.75);
}

.main-container--content {
    background-blend-mode: normal;
    border-radius: inherit;
    background-image: url('../img/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: green;
}

@media (max-width: 380px){
    .main-container{
        zoom: 70%
    }
}

@media (min-width: 381px) and (max-width: 449px) {
    .main-container {
        zoom: 80%;
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    .main-container {
        zoom: 100%;
    }
}

@media (min-width: 650px) {
    .main-container {
        width: 645px;
        height: 864px;
    }
}

@media (min-width: 700px) {
    .main-container {
        margin-top: 20px;
        /* width: 820px;
        height: 1099px; */
        width: 695px;
        height: 931px;
    }
}