.window {
    position: absolute;
    width: 10000px;
    height: 10000px;
    rotate: 45deg;
    /* background: purple; */
}

#blue,
#red,
#cyan {
    height: 100%;
    width: 100%;
    position: absolute;
}

#blue {
    z-index: 3;
    background: rgb(59 75 97);
    animation: throwDiagonally 1s forwards;
}

#red {
    z-index: 2;
    background: rgb(199 87 66);
    animation: throwDiagonally 1.2s forwards;
}

#cyan {
    z-index: 1;
    background: rgb(127 151 145);
    animation: throwDiagonally 1.4s forwards;
}

@keyframes throwDiagonally {
    100% {
        transform: translate(-5000px, -10000px);
    }
}