.window {
    position: absolute;

    /* background: purple; */
}

#blue,
#red,
#cyan {
    width: 10000px;
    height: 10000px;
    rotate: 45deg;
    position: absolute;
    left: -5000px;
}

#blue {
    z-index: 3;
    background: rgb(59 75 97);
}

#red {
    z-index: 2;
    background: rgb(199 87 66);
}

#cyan {
    z-index: 1;
    background: rgb(127 151 145);
}

.throwOut0 {
    animation: throwDiagonally 1s forwards;
}

.throwOut1 {
    animation: throwDiagonally 1.2s forwards;
}

.throwOut2 {
    animation: throwDiagonally 1.4s forwards;
}

.window .content{
    text-align: center;
    position: absolute;
    z-index: 30;
    top: 343px;
    width: 380px;
    left: -188px;
    color: rgb(var(--white));
    font-family: "Myriad-Pro";
}

.text-titulo{
    font-family: "Party" !important;
}

.welcome-close{
    padding: 10px 10px;
    background: rgb(var(--red));
    color: rgb(var(--white));
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.fadeout{
    animation: fadeout forwards .8s
}

@keyframes fadeout {
    0%{
        opacity: 100%
    }
    100%{
        opacity: 0%;
    }
}

@media (max-width: 380px){
    .window .content{
        zoom: 70%;
    }
}

@media (max-width: 449px){
    .window .content{
        zoom: 80%;
    }
}

@media (min-width: 650px) and (max-width: 699px){
    .window .content{
        top: 395px
    }
}

@media (min-width: 700px){
    .window .content{
        top: 381px
    }
}


@keyframes throwDiagonally {
    100% {
        transform: translate(-5000px, -10000px);
    }
}